.tertiary__heading{
  text-transform: uppercase;
  font-size: 1.5rem;
  color: red;
  font-weight: 400;
}

.secondary-heading{
  font-size: 2.8rem;
  text-transform: uppercase;
}

.main-heading{
  font-family: 'Poppins', sans-serif;
  font-size: 5rem;
  color: black;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all .2s;
  display: inline-block;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
}

.main-heading:hover{
  transform: scale(1.08);
  box-shadow: .3rem 1rem 2rem rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
}

#section-cards-heading{
  color: white;
}

@media (min-width: 601px) and (max-width:900px){
  .main-heading{
    font-size: 3.8rem;
    font-weight: 400;
    color: black;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .2s;
    display: inline-block;
  }
}

@media (max-width: 600px){
  .main-heading{
    font-weight: 400;
    font-size: 3.5rem;
    color: black;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .2s;
    display: inline-block;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}
}

